HOST=localhost
PORT=8000
ENVIRONMENT=development
FERNET_KEY=dummy_fernet_key
TOKEN_SECRET_KEY=dummy_token_secret_key
API_KEY=dummy_api_key
APPLICATION_KEY=dummy_application_key

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=society_one
DATABASE_USER=postgres
DATABASE_PASSWORD=dummy_password

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=dummy_password
